<!DOCTYPE html>
<html>
<head>
	<title>MindConnect</title>
			<meta charset="UTF-8">
     		<meta name="viewport" content="width=device-width initial-scale=1">
            <title>Front Page</title>
          <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
					<link rel="stylesheet" href="/css/style.css">
						  <script src="/bower_components/jquery/dist/jquery.js"></script>
           <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
					 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

					 <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
            <script src="js/jquery.cycle2.min.js"></script>
            <script type="text/javascript" src="js/main.js"></script>


						<nav class="navbar navbar-default navbar-static-top">
	      <div class="container">
                  <a class="navbar-brand" href="/">MindConnect</a>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="#"><strong>Link</strong></a></li>
                      </ul>



                  <ul class="nav navbar-nav navbar-right">
										  <li><a href="/users/register"><strong>Register</strong></a></li>

                  {{#if user}}
                    <li><a href="/users/logout"><strong>Sign Out</strong></a></li>

                    {{else}}
                    <li><a href="/users/login"><strong>Sign In</strong></a></li>
                    {{/if}}

										<li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="/users/login">Action</a></li>
	                <li><a href="#">Another action</a></li>
	                <li><a href="#">Something else here</a></li>
	                <li role="separator" class="divider"></li>
	                <li class="dropdown-header">Nav header</li>
	                <li><a href="#">Separated link</a></li>
	                <li><a href="#">One more separated link</a></li>
	              </ul>
	            </li>
						</ul>
						</div>
              </div>
						</nav>


{{{body}}}

</body>
</html>
